@font-face {
    font-family: "Exo-Medium";
    font-weight: 500;
    src: url("../assets/fonts/Exo-Medium.ttf");
  }

  @font-face {
    font-family: "Exo-SemiBold";
    font-weight: 500;
    src: url("../assets/fonts/Exo-SemiBold.ttf");
  }

  @font-face {
    font-family: "RobotoBold";
    font-weight: 500;
    src: url("../assets/fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "RobotoReg";
    font-weight: 500;
    src: url("../assets/fonts/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "RobotoMed";
    font-weight: 500;
    src: url("../assets/fonts/Roboto-Medium.ttf");
  }
  
